* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: rgb(143, 143, 143);
    width: 250px;
    height: 580px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.681);
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: black url(../imagens/img1.jpg) no-repeat;
    background-position:  left center;
    height: 200px;
    background-size: cover;
    
}

section#login > div#formulario {
    display: block;
    padding: 5px;
}

form > div.campo {
    background-color: rgb(55, 55, 55);
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: rgba(0, 0, 0, 0.13) ;
}

div.campo > label {
    display: none;
}

div.campo > span {
    width: 40px;
    padding: 8px;
}

div.campo > input {
    background-color: white;
    font-size: 1em;
    width: calc(100% - 50px);
    height: 80%;
    border: 0px;
    border-radius: 5px;
    padding: 4px;
    transform: translateY(-7px);

}

div.campo > input:focus-within {
    background-color:white
}
form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    color: rgb(96, 96, 96);
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    margin-top: 5px;

    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
}
form > a.botao:hover {
background-color: rgb(101, 101, 101);
}

form > a.botao > span {
    font-size: 0.8em;
}